.app-nav > ul > li ul {
    position: relative;
}
.app-nav > ul > li:last-child {
    margin-right: 3em;
}

/* .sidebar-nav li > a[href^="/"]:not([href*="?id="]):only-child,
.sidebar-nav li > a[href^="#/"]:not([href*="?id="]):only-child {
    background-image: none;
    padding-right: 14px;
} */

sidebar-nav ul > li > span,
.sidebar-nav ul > li > strong,
.sidebar nav ul > li > span,
.sidebar nav ul > li > strong {
    font-size: 1em;
    padding-right: 10px;
}

